@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap');

:root {
  /* font */
  --font: 'Libre Franklin', sans-serif;

  /* colors palette */
  --white: #fff;
  --light: #FFFAF2;
  --creamy: #F5D6AB;
  --peachy: #C66C49;
  --brown: #8B4136;
  --dark: #333333;

  /* fonts  */
  --primary-font-color: var(--dark);
  --header-font-color: var(--white);

  /* bgs */
  --primary-bg: var(--white);
  --secondary-bg: var(--light);

  /* lines */

  --primary-line: var(--peachy);
  --secondary-line: var(--creamy);
}

html {
  scroll-behavior: smooth;
}

.wrap {
  padding: 0 11.459%;

  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;

  font-family: var(--font);
  color: var(--primary-font-color);
  background-color: var(--white);
}


@media (max-width: 1280px) {
  .wrap {
    font-size: 17px;
  }
}

@media (max-width: 1024px) {
  .wrap {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .wrap {
    padding: 0 8.534%;

    font-size: 14px;
  }

  body.hidden {
    overflow: hidden;
  }
}

@media (max-width: 496px) {
  .wrap {
    font-size: 12px;
  }
}